In [14]:
import pandas as pd
import numpy as np
import hashlib

In [130]:
# uvoz podatkov: iz txt datoteke
# opcija za branje velikih df
# pravilen separator...

f500 = pd.read_csv("./f500.csv")
f500

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [3]:
# opcija za branje po kosih
chunks = pd.read_csv("./seaslug.txt", sep='\t',encoding='utf-8', chunksize=10)
for chunk in chunks:
    print(chunk)

   Time  Percent
0    99    0.067
1    99    0.133
2    99    0.067
3    99    0.000
4    99    0.000
5     0    0.500
6     0    0.467
7     0    0.857
8     0    0.500
9     0    0.357
    Time  Percent
10     0    0.533
11     5    0.467
12     5    0.467
13     5    0.125
14     5    0.400
15     5    0.214
16     5    0.400
17    10    0.067
18    10    0.067
19    10    0.333
    Time  Percent
20    10    0.333
21    10    0.133
22    10    0.133
23    15    0.267
24    15    0.286
25    15    0.333
26    15    0.214
27    15    0.000
28    15    0.000
29    20    0.267
    Time  Percent
30    20    0.200
31    20    0.267
32    20    0.437
33    20    0.077
34    20    0.067
35    25    0.133
36    25    0.267
37    25    0.412
38    25    0.000
39    25    0.067
    Time  Percent
40    25    0.133
41    30    0.000
42    30    0.071
43    30    0.000
44    30    0.067
45    30    0.067
46    30    0.133

In [131]:
# oblika df (vrstice,stolpci)
f500.shape

(500, 17)

In [132]:
f500.head(7)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646

In [133]:
f500.tail(6)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
494,Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,0,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [134]:
#1.2.5-prikazi informacije
f500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB

In [135]:
#tipi spremenljvk po stolpcih
f500.dtypes

company                      object
rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [136]:
#1.2.6.-prikazi realno porabo pomnilnika v MB
f500.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 286.8 KB

In [137]:
f500.shape

(500, 17)

In [138]:
## funkcijo compare_dataframes lahko uporabimo za preverjanje ce sta dva dataframe-a identicna - npr. ce dobimo neke rezultate po razlicnih metodah, kot v primeru spodaj.
def calc_hash(dataframe):
    df_as_string = dataframe.to_string()
    hash_object = hashlib.sha256()
    hash_object.update(df_as_string.encode('utf-8'))
    hex_dig = hash_object.hexdigest()
    return hex_dig

def compare_dataframes(df1, df2):
    hash_1 = calc_hash(df1)
    hash_2 = calc_hash(df2)
    if hash_1 == hash_2:
        print("Dataframes are the same!")
    else:
        print("NOT the same!")

# 1.3.1 odstranite zadnji dve vrstici z nepotrebnimi podatki
## Nacin 1
df2 = f500.iloc[:-2 , :]
print(df2.shape)
## Nacin 2
df3 = f500.drop(f500.tail(2).index)
print(df3.shape)

compare_dataframes(df2,df3)

(498, 17)
(498, 17)
Dataframes are the same!

In [139]:
f500.sample(10)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
444,Yangquan Coal Industry Group,445,24284,-14.2,11.1,30793,NaN,Zhai Hong,"Mining, Crude-Oil Production",Energy,374,China,"Yangquan, China",http://www.ymjt.com.cn%20,5,146236,1783
256,Delta Air Lines,257,39639,-2.6,4373.0,51261,-3.4,Edward H. Bastian,Airlines,Transportation,239,USA,"Atlanta, GA",http://www.delta.com,23,83756,12287
377,Northwestern Mutual,378,28799,2.4,818.0,250441,0.4,John E. Schlifske,"Insurance: Life, Health (Mutual)",Financials,377,USA,"Milwaukee, WI",http://www.northwesternmutual.com,23,5646,20226
365,China COSCO Shipping,366,29743,29.5,1489.0,94792,30.1,Xu Lirong,Shipping,Transportation,465,China,"Shanghai, China",http://www.coscoshipping.com,10,106478,24148
413,Avnet,414,26219,-6.1,506.5,11240,-11.4,William J. Amelio,Wholesalers: Electronics and Office Equipment,Wholesalers,380,USA,"Phoenix, AZ",http://www.avnet.com,7,17700,4691
63,Nestle,64,90814,-1.6,8659.2,129824,-8.1,Ulf Mark Schneider,Food Consumer Products,"Food, Beverages & Tobacco",66,Switzerland,"Vevey, Switzerland",http://www.nestle.com,23,328000,63573
249,Manulife Financial,250,40238,49.4,2209.7,537461,28.9,Donald A. Guloien,"Insurance: Life, Health (stock)",Financials,394,Canada,"Toronto, Ontario, Canada",http://www.manulife.com,15,34500,31197
442,SAP,443,24397,5.8,4031.9,46696,18.6,William R. McDermott,Computer Software,Technology,462,Germany,"Walldorf, Germany",http://www.sap.com,2,84183,27817
438,China National Aviation Fuel Group,439,24588,11.3,320.0,6093,-4.3,Zhou Qiang,Wholesalers: Diversified,Wholesalers,484,China,"Beijing, China",http://www.cnaf.com,7,11739,2263
268,SSE,269,37813,-12.7,2082.9,29899,200.3,Alistair Phillips-Davies,Utilities,Energy,216,Britain,"Perth, Britain",http://www.sse.com,12,21157,7842

In [140]:
# 1.3.2-odstranimo nepotrebne stolpce - imena teh stolpcev so shranjena v seznamu "to_drop"
# v naolgi je potrebno uporabiti inplace metodo - v tej rešitvi da ne spreminjamo df za naprej ustvarimo nov dataframe
to_drop = ['website','total_stockholder_equity']
df_dropeed = f500.drop(columns=to_drop)
# df = df.drop(columns=to_drop, inplace=True)
df_dropeed.shape

(500, 15)

In [141]:
#1.3.3 Preimenovanje imen stolpcev. Uporabi podan slovar.
new_names = {'company': 'company_name', 'ceo':'ceo_name'}
f500.rename(columns=new_names, inplace = True)
f500

,company_name,rank,revenues,revenue_change,profits,assets,profit_change,ceo_name,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [176]:
# 1.3.4. iskanje podvojenih vrstic.
# za to vajo uporabim drug df, ki ima podvojene vrstice
laptops = pd.read_csv("./INPUT_laptops.csv", encoding='Latin-1')

print(laptops.shape[0]) # stevilo vseh vrstic
print(laptops.duplicated().value_counts()) # False - unikatne, True - podovjene

laptops.drop_duplicates(inplace=True)
print(laptops.shape[0]) # ostanejo le unikatne

1303
False    1275
True       28
dtype: int64
1275

In [ ]:
# 1.3.5 Odstranjevanje manjkajočih vrednosti
autos = pd.read_csv("./autos.csv", encoding='Latin-1')
autos.head(10)

In [ ]:
print(f"Original size = {autos.size}")

# Izpiši število manjkajočih vrednosti za vsak stolpec v pandas Series obliki
autos.isnull().sum()

# Odstranite vse vrstice v naših podatkih za katere imata stolpca "vehicleType" in "gearbox" manjkajoče vrednosti
# Način 1 - najbolj optimalna resitev
autos_1 = autos.dropna(axis=0, subset=["vehicleType", "gearbox"], how='all')
print(autos_1.size)
# Način 2
autos_2 = autos.drop(autos.loc[autos["vehicleType"].isnull() & autos["gearbox"].isnull() , :].index)
print(autos_2.size)
# Način 3
autos_3 = autos.loc[~(pd.isnull(autos['vehicleType']) & pd.isnull(autos['gearbox']))]
print(autos_2.size)
# primerjaj ce sta dataframe-a enaka
compare_dataframes(autos_1, autos_2)
compare_dataframes(autos_1, autos_3)

In [ ]:
# Vse manjkajoče vrednosti v stolpcu "fuelType" nadomesti z besedilom 'Fuel type unknown'

# Najprej prikazemo razporeditev po vrednostih, vkljucimo tudi izpis vsote NaN vrednosti
print(autos["fuelType"].value_counts(dropna=False)) 

# Nadomestimo in ponovno izpisemo
autos.loc[autos["fuelType"].isnull(), "fuelType"] = 'Fuel type unknown'
print(autos["fuelType"].value_counts(dropna=False))

In [120]:
# 1.3.6) Transformiranje podatkov.
# Stolpec 'seller' vsebuje razlicne tipe prodajalcev, spremenimo vrednosti na podlagi slovarja vrste_prodajalcev
vrste_prodajalcev = {'privat':'private_seller', 'gewerblich':'company_seller'}

print(autos['seller'].value_counts())

autos['seller']=autos["seller"].map(vrste_prodajalcev)

print(autos['seller'].value_counts())

privat        49999
gewerblich        1
Name: seller, dtype: int64
private_seller    49999
company_seller        1
Name: seller, dtype: int64

In [127]:
#1.3.7 Sprememba  vrednosti v določenih stolpcih
print(autos['fuelType'].value_counts())
autos.loc[autos['fuelType'] == 'benzin', 'fuelType'] = 'Super95'
autos.loc[autos['fuelType'] == 'cng', 'fuelType'] = 'Gas'
print(autos['fuelType'].value_counts())

benzin     30107
diesel     14567
lpg          691
cng           75
hybrid        37
andere        22
elektro       19
Name: fuelType, dtype: int64
Super95    30107
diesel     14567
lpg          691
Gas           75
hybrid        37
andere        22
elektro       19
Name: fuelType, dtype: int64

In [ ]:
#1.3.8 -dodatno urejanje
# stolpec 'Model Name' nastavimo kot indeks nasih podatkov.
laptops.set_index('Model Name', inplace=True)
laptops

In [ ]:
# Če kateri izmed tekstovnih stolpcev vsebuje enake vrednosti ga odstranite
laptops = pd.read_csv("./INPUT_laptops.csv", encoding='Latin-1')

# simuliramo 2 stolpca ki imaza samo enake vrednosti in en stolpec ki ni tekstovni (objekt) in ga zato ne smemo odstraniti, čeprav ima same enake vrednosti
laptops["za_odstraniti_1"] = 'odstrani me'
laptops["za_odstraniti_2"] = 'odstrani me'
laptops["ne_smemo_odstraniti"] = 999
print(laptops.shape)

# subset of DF with only object types
laptops_text = laptops.select_dtypes(include=['object'])
# determine column names to drop in original dataframe
columns_to_drop = laptops_text.columns[laptops_text.nunique(dropna=True) == 1]
# finally drop columns
laptops.drop(columns=columns_to_drop, inplace=True)
print(laptops.shape)
laptops

In [308]:
# 1.3.9 čiščenje vrendnosti in sprememba podatkovnih tipov
# Stolpce ['Screen Size', 'RAM','Weight','Storage'] pretvorite v podatkovni tip integer. Pri tem je potrebno paziti, da uporabimo najboljo optimalen subtip (int8, int16) glede na vsebovanje vrednosti.
# Iz vseh stolpcev najprej izluscite stevilske vrednosti

import numpy as np

laptops = pd.read_csv("./INPUT_laptops.csv", encoding='Latin-1')

# primeri stevilskih obsegov razlicnih podatkovnih tipov
# info = np.iinfo(np.int8)
# print("Minimum value int8: ", info.min)
# print("Maximum value int8: ", info.max)
# info = np.iinfo(np.uint8)
# print("Minimum value uint8: ", info.min)
# print("Maximum value uint8: ", info.max)
# info = np.iinfo(np.int16)
# print("Minimum value int16: ", info.min)
# print("Maximum value int16: ", info.max)
# info = np.iinfo(np.int32)
# print("Minimum value int32: ", info.min)
# print("Maximum value int32: ", info.max)
# info = np.iinfo(np.int64)
# print("Minimum value int64: ", info.min)
# print("Maximum value int64: ", info.max)
# info = np.finfo(np.float16)
# print("Minimum value float16: ", info.min)
# print("Maximum value float16: ", info.max)
# print("Precision:", info.precision)
# info = np.finfo(np.float32)
# print("Minimum value float32: ", info.min)
# print("Maximum value float32: ", info.max)
# print("Precision:", info.precision)

# izluscimo stevilske vrednosti iz teksta in pretvorimo
# 1 Opcija - pretvarjanje s numeric metodo in downcastanjem
laptops["screen_size"] = pd.to_numeric(laptops['Screen Size'].str.replace('"', ""), downcast='float')
laptops["ram_size"] = pd.to_numeric(laptops["RAM"].str.replace("GB", ""), downcast='integer')
laptops["weight_kg"] = pd.to_numeric(laptops["Weight"].str.replace("kgs", "").str.replace("kg",""), downcast='float')
laptops["storage_size"] = pd.to_numeric(laptops[" Storage"].str.split().str[0].str.replace("GB","").str.replace("TB",""),downcast='integer')

# 2 Opcija - pretvarjanje direktno na eksplicitno določen tip (v teh primerih moramo prej pregledati max in min vrednosti in izbrati optimalne tipe)
# laptops["screen_size"] = laptops['Screen Size'].str.replace('"', "").astype(np.float32)
# laptops["ram_size"] = laptops["RAM"].str.replace("GB", "").astype(np.int8)
# laptops["weight_kg"] = laptops["Weight"].str.replace("kgs", "").str.replace("kg","").astype(np.float32)
# laptops["storage_size"] = laptops[" Storage"].str.split().str[0].str.replace("GB","").str.replace("TB","").astype(np.int16)

print(laptops.dtypes)
# laptops.describe()
laptops.head(10)

Manufacturer                 object
Model Name                   object
Category                     object
Screen Size                  object
Screen                       object
CPU                          object
RAM                          object
 Storage                     object
GPU                          object
Operating System             object
Operating System Version     object
Weight                       object
Price (Euros)                object
screen_size                 float32
ram_size                       int8
weight_kg                   float32
storage_size                  int16
dtype: object

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros),screen_size,ram_size,weight_kg,storage_size
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69",13.3,8,1.37,128
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94",13.3,8,1.34,128
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00",15.6,8,1.86,256
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45",15.4,16,1.83,512
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60",13.3,8,1.37,256
5,Acer,Aspire 3,Notebook,"15.6""",1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows,10,2.1kg,"400,00",15.6,4,2.10,500
6,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS,X,2.04kg,"2139,97",15.4,16,2.04,256
7,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"1158,70",13.3,8,1.34,256
8,Asus,ZenBook UX430UN,Ultrabook,"14.0""",Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,512GB SSD,Nvidia GeForce MX150,Windows,10,1.3kg,"1495,00",14.0,16,1.30,512
9,Acer,Swift 3,Ultrabook,"14.0""",IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Intel UHD Graphics 620,Windows,10,1.6kg,"770,00",14.0,8,1.60,256

In [314]:
# 1.4. Izvoz urejenih podatkov
# 1.4.1
# Pripravljene in urejene podatke izvozite v novo csv datoteko z imenom laptops_clean.csv. Za pot lahko uporabite pripravljeno spemenljivko "path_clean". Za separator uporabite ,
path_clean = './laptops_clean.csv'
laptops.to_csv(path_clean, sep=',', index=False, encoding='utf-8') # pozor - uporabimo drug encoding kot v originalu "Latin-1"

In [ ]:
# TEST ČE SMO PRAVILNO ZAPISALi
df_check = pd.read_csv(path_clean, sep=',', encoding='utf-8')
df_check.info()

In [320]:
# 1.4.2
# Podatke želite shraniti tudi v SQLite, tako da urejene podatke shranite še v SQLite bazo z imenom "laptops_clean.db". Za pot lahko uporabite pripravljeno spemenljivko path_clean. Za ime tabele uporabite 'laptops'
import sqlite3
from sqlalchemy import create_engine
path_clean = './laptops_clean.db'
table_name = 'laptops'

engine = create_engine(f'sqlite:///{path_clean}', echo=False)

laptops.to_sql(table_name, con=engine)

1303

In [321]:
# TEST ČE SMO PRAVILNO ZAPISALI
laptops_read_test = pd.read_sql(table_name, engine)
laptops_read_test.head(10)

,index,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros),screen_size,ram_size,weight_kg,storage_size
0,0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,None,1.37kg,"1339,69",13.3,8,1.37,128
1,1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,None,1.34kg,"898,94",13.3,8,1.34,128
2,2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,None,1.86kg,"575,00",15.6,8,1.86,256
3,3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,None,1.83kg,"2537,45",15.4,16,1.83,512
4,4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,None,1.37kg,"1803,60",13.3,8,1.37,256
5,5,Acer,Aspire 3,Notebook,"15.6""",1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows,10,2.1kg,"400,00",15.6,4,2.10,500
6,6,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS,X,2.04kg,"2139,97",15.4,16,2.04,256
7,7,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,None,1.34kg,"1158,70",13.3,8,1.34,256
8,8,Asus,ZenBook UX430UN,Ultrabook,"14.0""",Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,512GB SSD,Nvidia GeForce MX150,Windows,10,1.3kg,"1495,00",14.0,16,1.30,512
9,9,Acer,Swift 3,Ultrabook,"14.0""",IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Intel UHD Graphics 620,Windows,10,1.6kg,"770,00",14.0,8,1.60,256