In [1]:
import pandas as pd

In [2]:
import numpy as np

In [70]:
# uvoz podatkov: iz txt datoteke
# opcija za branje velikih df
# pravilen separator...

df = pd.read_csv("./f500.csv")
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [61]:
# opcija za branje po kosih
chunks = pd.read_csv("./seaslug.txt", sep='\t',encoding='utf-8', chunksize=10)
for chunk in chunks:
    print(chunk)

   Time  Percent
0    99    0.067
1    99    0.133
2    99    0.067
3    99    0.000
4    99    0.000
5     0    0.500
6     0    0.467
7     0    0.857
8     0    0.500
9     0    0.357
    Time  Percent
10     0    0.533
11     5    0.467
12     5    0.467
13     5    0.125
14     5    0.400
15     5    0.214
16     5    0.400
17    10    0.067
18    10    0.067
19    10    0.333
    Time  Percent
20    10    0.333
21    10    0.133
22    10    0.133
23    15    0.267
24    15    0.286
25    15    0.333
26    15    0.214
27    15    0.000
28    15    0.000
29    20    0.267
    Time  Percent
30    20    0.200
31    20    0.267
32    20    0.437
33    20    0.077
34    20    0.067
35    25    0.133
36    25    0.267
37    25    0.412
38    25    0.000
39    25    0.067
    Time  Percent
40    25    0.133
41    30    0.000
42    30    0.071
43    30    0.000
44    30    0.067
45    30    0.067
46    30    0.133

In [65]:
# oblika df (vrstice,stolpci)
df.shape

(47, 2)

In [15]:
df.head(7)

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,female,35.0,1,0,113803,53.1000,C123,S
5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,male,54.0,0,0,17463,51.8625,E46,S

In [16]:
df.tail(6)

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
886,0,3,female,39.0,0,5,382652,29.125,NaN,Q
887,0,2,male,27.0,0,0,211536,13.000,NaN,S
888,1,1,female,19.0,0,0,112053,30.000,B42,S
889,0,3,female,NaN,1,2,W./C. 6607,23.450,NaN,S
890,1,1,male,26.0,0,0,111369,30.000,C148,C
891,0,3,male,32.0,0,0,370376,7.750,NaN,Q

In [17]:
#1.2.5-prikazi informacije
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 76.6+ KB

In [18]:
#tipi spremenljvk po stolpcih
df.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [68]:
#1.2.6.-prikazi realno porabo pomnilnika v MB
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Time     47 non-null     int64
 1   Percent  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 880.0 bytes

In [34]:
df.shape

(891, 10)

In [42]:
# 1.3.1 odstranite zadnji dve vrstici z nepotrebnimi podatki
df2 = df.iloc[:-2 , :]
df2.shape

(889, 10)

In [ ]:
#1.3.2-odstranimo nepotrebne stolpce...
# glede na procent Non vrednosti???
df.drop(columns=to_drop, inplace=True)

In [ ]:
#1.3.3-preimenovanje stolpcev
df.rename(columns=new_names, inplace = True)

In [21]:
#1.3.4. iskanje podvojenih vrstic.
df.duplicated().head()
df.duplicated().value_counts()
df.drop_duplicates(inplace=True)

False    500
dtype: int64

In [71]:
df.shape

(500, 17)

In [93]:
# profit_change in revenue_change
# df["profit_change"].isnull().value_counts()
# df["revenue_change"].isnull().value_counts()
df2 = df.dropna(axis=0, subset=["profit_change", "revenue_change"])
df2

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [ ]:
#1.3.5-odstranjevanje manjkajočih vrednsoti
df.isnull().sum()
#odstranimo vrstice za katere imata stolpca x,y manjkajoče vrednosti
df[df[["profit_change","revenue_change"]].isnull()].dropna(axis=0)
#v stolpu "stolpec" vse manjkajoče vrednspti nadomestimo z vrednost "nova_vrednsot"
df.loc[df["stolpec"].isnull(),"stolpec"] ="nova vrednost"

In [ ]:
#1.3.6 -transformiranje podatkov.
# uporabite map funkcijo za stolpec in spremenimo vrednsoti.iz mapping dick podane funkcije..
df["stolpec"]=df["stolpec"].map(mapping_dict)

In [ ]:
#1.3.7sprememba  vrednosti v določenih stolpcih
df.loc[df["stolpec"] == "vrednost","stolpec"] = "nova vrednsot"

In [43]:
#1.3.8 -dodatno urejanje
#stolpec nastavimo kot indeks nasih podatkov...
# st. edinstvenih vrednosti 
countries = df["country"].unique()
countries

array(['USA', 'China', 'Japan', 'Germany', 'Netherlands', 'Britain',
       'South Korea', 'Switzerland', 'France', 'Taiwan', 'Singapore',
       'Italy', 'Russia', 'Spain', 'Brazil', 'Mexico', 'Luxembourg',
       'India', 'Malaysia', 'Thailand', 'Australia', 'Belgium', 'Norway',
       'Canada', 'Ireland', 'Indonesia', 'Denmark', 'Saudi Arabia',
       'Sweden', 'Finland', 'Venezuela', 'Turkey', 'U.A.E', 'Israel'],
      dtype=object)

In [ ]:
#1.3.9- čiščenje vrendnosti in sprememba podatkovnih tipov
# spremenimo tipev int, float, category, datetime 
df["spremenljivka"] = df["spremenljivka"].astype("int") # float, datime64,category,
df["spremenljivka"] = df["spremenljivka"].astype("category")
df["spremenljivka"] = df["spremenljivka"].str.replace('"', '').astype("float")
df["spremenljivka"] = df["spremenljivka"].str.split().str[0]

In [ ]:
#1.4._izvoz urejenih podatkov
DATA= df.to_csv("data/clean_laptops.csv")
#izvoz v SQLite