# Uvod v Pandas - DN

In [1]:
import numpy as np
import pandas as pd

<div class="alert alert-block alert-info">
<b>Naloga: </b> Združi podana Series v en Dataframe. </div>

In [2]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [6]:
#Rešitev
df = pd.DataFrame(ser1,ser2)
df

    0
0   a
1   b
2   c
3   e
4   d
5   f
6   g
7   h
8   i
9   j
10  k
11  l
12  m
13  n
14  o
15  p
16  q
17  r
18  s
19  t
20  u
21  v
22  w
23  x
24  y
25  z

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite vse elemente, ki se nahajajo v ser1 in ne nahajajo v ser2</div>

In [105]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [107]:
#Rešitev
ser1.isin(ser2)
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite kako pogosto se katera vrednost pojavi v ser.</div>

In [20]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [21]:
#Rešitev
ser.value_counts()

a    8
d    7
f    6
b    3
g    3
e    2
c    1
dtype: int64

<div class="alert alert-block alert-info">
<b>Naloga: </b>V podanem series obdržite top 2 vrednosti, ki se največkrat pojavita. Ostale vrednosti nadomestite z "other"</div>

In [167]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     1
1     1
2     3
3     3
4     1
5     3
6     2
7     3
8     4
9     2
10    1
11    2
dtype: int32

In [192]:
#Rešitev
top_values = ser.value_counts().iloc[0:2].reset_index(level=0)
top_values
condition = (ser == top_values.iloc[0,0]) | (ser == top_values.iloc[1,0])
ser[~condition] = "other"

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7      True
8     False
9     False
10     True
11    False
dtype: bool

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite vrednosti v vrstici z indexom 0, 4, 8, 14, 20.</div>

In [196]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
print(ser)
pos = [0, 4, 8, 14, 20]

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [197]:
#Rešitev
ser.iloc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

<div class="alert alert-block alert-info">
<b>Naloga: </b>Prikažite obliko dataframa.</div>

In [198]:
path = 'data/DATA_vozila_marec_clean1.csv'
df = pd.read_csv(path, sep=';')

In [199]:
#Rešitev
df.shape

(14649, 20)

<div class="alert alert-block alert-info">
<b>Naloga: </b>Prikažite tipe spremenljivk za vsak stolpec uvoženega dataframe.</div>

In [200]:
# Rešitev
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14649 entries, 0 to 14648
Data columns (total 20 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0.1                                  14649 non-null  int64
 1   Unnamed: 0                                    14649 non-null  int64
 2   Datum prve registracije vozila                14649 non-null  object
 3   Registrsko obmocje tablice prve registracije  14649 non-null  object
 4   Starost uporabnika vozila                     8300 non-null   float64
 5   Spol uporabnika                               8300 non-null   object
 6   Upravna enota uporabnika vozila               14649 non-null  int64
 7   Znamka                                        14649 non-null  object
 8   Drzava (koda)                                 14649 non-null  object
 9   Masa vozila                                   14649 non-null  object
 10  Kategorija in vrsta vozila (opis)             14649 non-null  object
 11  Nazivna moc                                   14649 non-null  object
 12  Vrsta goriva (opis)                           14649 non-null  object
 13  P.1.5-Oznaka motorja                          13912 non-null  object
 14  S.1-Stevilo sedezev (vkljucno z vozniskim)    14229 non-null  float64
 15  T-Najvisja hitrost                            14344 non-null  float64
 16  V.8-Kombinirana poraba goriva                 12028 non-null  object
 17  Homologacijska                                3140 non-null   object
 18  Dvtredu                                       4690 non-null   object
 19  Leto izdelave                                 14649 non-null  int64
dtypes: float64(3), int64(4), object(13)
memory usage: 2.2+ MB

<div class="alert alert-block alert-info">
<b>Naloga: </b>Prikažite informacije (velikost df, podatkovni tipi, pomnilnik...) uvoženega dataframe-a z uporabo ene metode</div>

In [209]:
# Rešitev
df.dtypes

Unnamed: 0.1                                      int64
Unnamed: 0                                        int64
Datum prve registracije vozila                   object
Registrsko obmocje tablice prve registracije     object
Starost uporabnika vozila                       float64
Spol uporabnika                                  object
Upravna enota uporabnika vozila                   int64
Znamka                                           object
Drzava (koda)                                    object
Masa vozila                                      object
Kategorija in vrsta vozila (opis)                object
Nazivna moc                                      object
Vrsta goriva (opis)                              object
P.1.5-Oznaka motorja                             object
S.1-Stevilo sedezev (vkljucno z vozniskim)      float64
T-Najvisja hitrost                              float64
V.8-Kombinirana poraba goriva                    object
Homologacijska                                   object
Dvtredu                                          object
Leto izdelave                                     int64
dtype: object

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite prvih 7 vrstic dataframa</div>

In [207]:
#Rešitev
df.head(7)

,Unnamed: 0.1,Unnamed: 0,Datum prve registracije vozila,Registrsko obmocje tablice prve registracije,Starost uporabnika vozila,Spol uporabnika,Upravna enota uporabnika vozila,Znamka,Drzava (koda),Masa vozila,Kategorija in vrsta vozila (opis),Nazivna moc,Vrsta goriva (opis),P.1.5-Oznaka motorja,S.1-Stevilo sedezev (vkljucno z vozniskim),T-Najvisja hitrost,V.8-Kombinirana poraba goriva,Homologacijska,Dvtredu,Leto izdelave
0,0,0,24.10.2007,KR?KO,61.0,M,2,BMW,DEU,223,motorno kolo,80,Bencin,122EF,2.0,215.0,NaN,NaN,NaN,2007
1,1,1,25.03.2019,MURSKA SOBOTA,58.0,Z,36,FIAT,ITA,1270,osebni avtomobil,70,Bencin,843A1000,5.0,185.0,"7,7",NaN,NaN,2019
2,2,2,01.08.2008,CELJE,71.0,M,59,HONDA,JPN,242,motorno kolo,37,Bencin,PF01E,2.0,160.0,NaN,NaN,NaN,2008
3,3,3,08.03.2019,KRANJ,64.0,M,58,DEUTZ-FAHR,ITA,5200,traktor,53,Dizel,1000.3WTI3E3,1.0,40.0,NaN,NaN,"40,8-92",2019
4,4,4,26.04.2011,NOVA GORICA,63.0,Z,37,MERCEDES BENZ,DEU,1435,osebni avtomobil,103,Dizel,640.941,5.0,200.0,"5,3",NaN,NaN,2011
5,5,5,16.10.2015,MURSKA SOBOTA,56.0,M,36,AUDI,DEU,1615,osebni avtomobil,100,Dizel,CSU,5.0,215.0,4,NaN,NaN,2015
6,6,6,17.04.2015,MARIBOR,47.0,M,42,AUDI,DEU,1910,osebni avtomobil,200,Dizel,CRT,5.0,250.0,"5,3",NaN,NaN,2015

<div class="alert alert-block alert-info">
<b>Naloga: </b>Izpišite zadnjih 6 vrstic dataframa.</div>

In [208]:
#Rešitev
df.tail(6)

,Unnamed: 0.1,Unnamed: 0,Datum prve registracije vozila,Registrsko obmocje tablice prve registracije,Starost uporabnika vozila,Spol uporabnika,Upravna enota uporabnika vozila,Znamka,Drzava (koda),Masa vozila,Kategorija in vrsta vozila (opis),Nazivna moc,Vrsta goriva (opis),P.1.5-Oznaka motorja,S.1-Stevilo sedezev (vkljucno z vozniskim),T-Najvisja hitrost,V.8-Kombinirana poraba goriva,Homologacijska,Dvtredu,Leto izdelave
14643,14643,14643,29.03.2019,KRANJ,22.0,Z,24,VOLKSWAGEN,DEU,1125,osebni avtomobil,59,Bencin,DFN,5.0,171.0,"5,8",NaN,-,2019
14644,14644,14644,29.03.2019,KOPER,20.0,M,48,RENAULT,FRA,1442,osebni avtomobil,85,Dizel,K9K U8,5.0,190.0,"4,6",NaN,NaN,2019
14645,14645,14645,18.06.2015,MURSKA SOBOTA,21.0,M,36,MERCEDES BENZ,DEU,1525,osebni avtomobil,130,Dizel,651.930,5.0,232.0,"4,2",NaN,NaN,2015
14646,14646,14646,29.03.2019,MARIBOR,21.0,Z,50,KIA,SVK,1260,osebni avtomobil,"73,3",Bencin,G4LC,5.0,183.0,"6,4",e4*1005/2010*1005/2010*0265*02,NaN,2019
14647,14647,14647,29.03.2019,NOVO MESTO,NaN,NaN,38,FORD,DEU,2316,tovorno vozilo,147,Dizel,SA2W,5.0,175.0,"8,7","E11 55R-018151, 018152, E11 55R-0110910,","16,4",2019
14648,14648,14648,29.03.2019,MARIBOR,73.0,Z,64,DACIA,ROM,1084,osebni avtomobil,54,Bencin,B4D E4,5.0,158.0,"6,3",NaN,NaN,2019