# DN - priprava in čiščenje podatkov

Skozi domačo nalogo bomo uporabljali dataset oglasov rabljenih avtomobilov pridobljenih iz nemškega *eBay Kleinanzeigen*.

Podatki so razvrščeni v sledeče stolpce:
* *dateCrawled* - When this ad was first crawled. All field-values are taken from this date.
* *name* - Name of the car.
* *seller* - Whether the seller is private or a dealer.
* *offerType* - The type of listing
* *price* - The price on the ad to sell the car.
* *abtest* - Whether the listing is included in an A/B test.
* *vehicleType* - The vehicle Type.
* *yearOfRegistration* - The year in which the car was first registered.
* *gearbox* - The transmission type.
* *powerPS* - The power of the car in PS.
* *model* - The car model name.
* *kilometer* - How many kilometers the car has driven.
* *monthOfRegistration* - The month in which the car was first registered.
* *fuelType* - What type of fuel the car uses.
* *brand* - The brand of the car.
* *notRepairedDamage* - If the car has a damage which is not yet repaired.
* *dateCreated* - The date on which the eBay listing was created.
* *nrOfPictures* - The number of pictures in the ad.
* *postalCode* - The postal code for the location of the vehicle.
* *lastSeenOnline* - When the crawler saw this ad last online.

Tekom domače naloge bomo podatke očistili ter opravili neko osnovno analizo.

In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv('data/autos.csv', encoding='Latin-1')

<div class="alert alert-block alert-info">
<b>Vaja: </b> Uporabite .info() metodo za izpis osnovnih informacij o našem dataframe-u.
</div>

In [2]:
# Rešitev
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

<div class="alert alert-block alert-info">
<b>Vaja: </b>Izpišite prvih 5 vrstic dataframe-a.
</div>

In [4]:
# Rešitev
autos.head(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Iz zgornjih vrstic lahko vidimo, da:
* Dataset ima 20 stolpcev, večina katerih je tipa string
* Nekaj stolpcev ima null vrednosti

Za začetek bomo poiskali stolpce v katerih je večina vrednosti istih, ker taki stolpci za analizo ponavadi niso koristni.

<div class="alert alert-block alert-info">
<b>Vaja: </b>Uporabite metodo .describe() in izpišite osnovne statistike vseh 20 stolpcev
</div>

In [5]:
# Rešitev

Opazimo naslednje stvari:
* stolpca *seller* in *offerType* imata skoraj vse vrednosti enake. Ta dva stolpca bomo odstranili
* vse vrednosti stolpca *nrOfPictures* so null. Stolpec bomo odstranilI
* *price* stolpec ima vrednosti v obliki string. To bomo spremenili v številčno vrednost
* *odometer* stolpec ima vrednosti v obliki string. To bomo spremenili v številčno vrednost

<div class="alert alert-block alert-info">
<b>Vaja: </b>Odstranite stolpce seller, offerType in nrOfPictuers.
</div>

In [6]:
# Rešitev

<div class="alert alert-block alert-info">
<b>Vaja: </b>Vrednosti v stolpcu price so tipa string. Odstranite nepotrebne znake ($) ter vrednosti pretvorite v tip integer.
</div>

In [7]:
# Rešitev

<div class="alert alert-block alert-info">
<b>Vaja: </b>Vrednosti v stolpcu odometer prav tako pretvorite v integer vrednosti.
</div>

In [8]:
# Rešitev

Sedaj si bomo pogledali stolpca *price* in *odometer* bolj podrobno.

<div class="alert alert-block alert-info">
<b>Vaja: </b>Izpišite maximalno in minimalno vrednost stolpca price ter kolikokrat se te dve vrednosti pojavita.
</div>

In [9]:
# Rešitev

<div class="alert alert-block alert-info">
<b>Vaja: </b>Obdržite vrstice kjer je vrednost price stolpca med vključno 1 in 351000.
</div>

In [10]:
# Rešitev

Poglejmo si sedaj stolpec *yearOfRegistration*.

<div class="alert alert-block alert-info">
<b>Vaja: </b>Poiščite max in min vrednost stolpca yearOfRegistration.
</div>

In [11]:
# Rešitev

Opazimo, da je minimalna vrednost 1000 (daleč predno so iznašli prvi avto), in maximalna vrednost 9999 (daleč v prihodnosti).

Ker avto ne more biti prvič registriran šele potem, ko je objavljen oglas, so vse letnice nad 2016 nepravilne.

Težje je določiti začetno veljavno leto. Realistično je to lahko nekje v prvih desetletjih 1900.

<div class="alert alert-block alert-info">
<b>Vaja: </b>Obdržite vrstice, kjer se vrednost stolpca yearOfRegistration nahaja znotraj območja 1900 - 2016.
</div>

In [12]:
# Rešitev

Sedaj si bomo pogledali stolpca *price* in *brand*.

<div class="alert alert-block alert-info">
<b>Vaja: </b>Izpišite katere vrednosti se nahajajo v stolpcu brand in kolikokrat se vsaka vrednost pojavi (v %).
</div>

In [13]:
# Rešitev

Opazimo, da nemški proizvajalci predstavljajo štiri od pvih 5 blagovnih znamk. Vidimo, da skupaj predstavljajo več kot 50% vseh oglasov. Volkswagen je najbolj priljubljena znamka, s približno dvakrat večjim številom, kot naslednja znamka.

V nalogi se bomo osredotočili na znamke, ki predstavljajo več kot 5% oglasov.

<div class="alert alert-block alert-info">
<b>Vaja: </b>Obdržite vse znamke, ki se pojavijo več kot 5%.
</div>

In [14]:
# Rešitev

<div class="alert alert-block alert-info">
<b>Vaja: </b>Ustvarite nov dictionary in vanj shranite povprečno ceno za vsako znamko.
    
    "znamka": povprečna_cena,
    "znamka": povprečna_cena,
    "znamka": povprečna_cena,
    
</div>

In [15]:
# Rešitev

Vidimo, da je izrazit razkorak v cenah:
* Audi, BMW in Marcedes Benz so dražje znamke
* For in Opel sta cenejši
* Volkswagen je nekje vmes

<div class="alert alert-block alert-info">
<b>Vaja: </b>Iz zgornjega dictionary ustvarite nov pandas dataframe, kjer je ime znamke index vrstice in povprečna cena stolpec.
</div>

In [16]:
# Rešitev