# DN - uvoz podatkov

In [1]:
import pandas as pd
import numpy as np

## Naloga 1

Branje txt datoteke.

Preberi vse vrstice datoteke `vaja1_in.txt` in jih zapiši v datoteko `vaja1_out.txt` v urejenem vrstnem redu, tako da so najkrajše vrstice spredaj. (zavrzi vse vrstice z dolžino 0)

In [1]:
# !cat data/vaja1_in.txt

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [38]:
# Rešitev
with open('data/vaja1_in.txt', encoding='utf-8') as f:
    data_raw = f.readlines()
    data_f = [item for item in data_raw if len(item) > 1] # dirty fix -> kako prebereš, da omitaš vse special char \n, \t
    data_sorted = sorted(data_f, key=len)

with open('data/vaja1_out.txt', 'w') as f:
    for line in data_sorted:
        f.write(line)

## Naloga 2

pandas - branje csv datoteke.

Preberi `titanic_sub.csv` v s pomočjo `pandas.read_csv(...)` funkcije in izpišite zadnje 3 vrstice podatkov. Poskrbite, da preberete samo stolpce z imenom `Sex`, `Age` in `Fare` (v tem vrstnem redu).

Vse to naj bo storjeno v eni sami vrstici!

In [44]:
# Rešitev
import pandas as pd
df = pd.read_csv("./data/titanic_sub.csv", usecols=['Sex', 'Age', 'Fare'])
df.tail(3)

        Sex   Age   Fare
888  female   NaN  23.45
889    male  26.0  30.00
890    male  32.0   7.75

## Naloga 3

pandas - branje json datoteke

Preberi `vaja3.json` datoteko, tako da bodo `Oseba-?` navedene kot indeksi, ime, priimek in pa študij pa bodo podatkovni stolpci.

Izpišite DataFrame tabelo.

In [69]:
# Rešitev
df = pd.read_json("./data/vaja3.json", orient="index")
df.index.rename("oseba", inplace=True)
df

           ime          priimek študij
oseba
Oseba-1   Anže           Glušič    FRI
Oseba-2   Leon  Štefanič Južnič     FE
Oseba-3  Grega         Balkovec     FS
Oseba-4  Janez            Gliha    FMF
Oseba-5   Nika          Bogataj     FE
Oseba-6   Luka         Primožič    FRI
Oseba-7  Plona         Hudoklin     FS

## Naloga 4

pandas - branje json datoteke.

Datoteko `vaja3.json` preberite v DataFrame in izpišite vrednosti uporabljene v stolpcu `študij` (brez ponavljanja).

In [90]:
# Rešitev
df = pd.read_json("./data/vaja3.json", orient="index")
studiji = df["študij"].unique()
print(studiji)

['FRI' 'FE' 'FS' 'FMF']

## Naloga 5

pandas - branje excel datoteke.

Preberite `battledeath.xlsx` datoteko v DataFrame in izpišite podrobne informacije dobljenejega dataframa (za vsak sheet posebej).

In [ ]:
# Rešitev