# Delo s podatkovnimi bazami in SQL

## Introduction to Databases

The pandas workflow works well when:
- the **data fits in memory** (a few gigabytes but not terabytes)
- the **data is relatively static** (doesn't need to be loaded into memory every minute because the data has changed)
- only a **single person is accessing** the data (shared access to memory is difficult)
- **security isn't important** (security is critical for company scale production situations)

### What is a database?

<img src="images/dbms.png">

<img src="images/database_workflow.svg">

## SQLite

https://www.sqlite.org/index.html

SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine.

SQLite is the most popular database in the world and is lightweight enough that the SQLite DBMS is included as a module in Python.

### SQLite vs Other SQL databases (PostgreSQL, MySQL, SQL Server)

### Commands

- [Command Line Shell For SQLite](https://sqlite.org/cli.html)

- `cd data`
- `sqlite3 logs.db`

- For a **listing of the available dot commands**, you can enter `.help` any time. 
    - `sqlite>.help`

- Run `.show` command to see **default setting** for your SQLite command prompt
    - `sqlite>.show`

- To specify that we want to **return the first 5 rows from weblog**, we need to run the following SQL query:
    - `sqlite> SELECT * FROM weblog LIMIT 5;`

- You can use the following sequence of dot commands to **format your output**.
    - `sqlite>.header on`
    - `sqlite>.mode column`
    - `sqlite>.timer on`
    - `sqlite> SELECT * FROM weblog LIMIT 5;`

- To see a **list of the tables in the database**, you can enter `.tables`.
    - `sqlite>.tables`

- The `.schema` command shows the **complete schema for the database**, or for a single table if an optional tablename argument is provided:
    - `sqlite>.schema`
    - `sqlite>.schema weblog`

## Introduction to SQL

<img src="images/sql_table.svg">

- `SELECT * FROM weblog LIMIT 5;`

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns the first 15 rows from weblog.
</div>

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns the logs where the ip is 10.131.2.1. Only return the ip and timestamp columns (in that order) and don't limit the number of rows returned.
</div>

<div class="alert alert-block alert-info">
<b>Vaja: </b> Count the number of rows returned from the previous query. <a href="https://www.w3schools.com/sql/sql_count_avg_sum.asp">Help</a>
</div>

Here are the comparison operators we can use:
- Less than: `<`
- Less than or equal to: `<=`
- Greater than: `>`
- Greater than or equal to: `>=`
- Equal to: `=`
- Not equal to: `!=`

```SQL
SELECT * FROM weblog
WHERE ip = "10.131.2.1" AND timestamp < "2017-11-29 13:47:00";
```

```SQL
SELECT * FROM weblog
WHERE ip = "10.131.2.1" OR status = 304;
```

```SQL
SELECT * FROM weblog
WHERE (ip = "10.131.2.1" AND status = 304) OR (method = "POST");
```

```SQL
SELECT * FROM weblog
WHERE (ip = "10.131.2.1" AND status = 304) OR (method = "POST")
ORDER BY timestamp DESC;
```

## Work with the SQLite database using raw Python

- [sqlite3 Python module](https://docs.python.org/3/library/sqlite3.html): The sqlite3 module provides an SQL interface compliant with the DB-API 2.0 specification described by PEP 249, and requires SQLite 3.7.15 or newer.

Import a CSV file data to a SQL database:

In [ ]:
!head data/weblogs_clean.csv

In [2]:
import sqlite3
from sqlite3 import OperationalError
from datetime import datetime
import csv

# create a connection to a databse
con = sqlite3.connect("data/my-weblogs.db")

# create a new table
create_table_query = """
    CREATE TABLE logs (
            id INTEGER PRIMARY KEY,
            ip VARCHAR(16),
            timestamp DATETIME,
            status INTEGER,
            method VARCHAR(20)
    );"""
try:
    con(create_table_query)
except OperationalError as err:
    print(f"Skippig: {err}")

Skippig: table logs already exists

In [3]:
# Then, insert rows of data:
with open('data/weblogs_clean.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',') # samo objekt do csv datoteke -> lahko bi bil scv velik tudi nekaj TB, ne gre vse v pomnilnik
    line_count = 0
    stmt = "INSERT INTO logs VALUES(NULL, ?, ?, ?, ?)"
    for row in csv_reader: # sele tukaj gredo vrstice posamicno v RAM
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            timestamp_datetime_format = datetime.strptime(row[1], "%d/%b/%Y:%H:%M:%S")
            row[1] = timestamp_datetime_format
            con.execute(stmt, row)
            con.commit()
    print("DONE.")

Column names are IP, Time, Staus, Method
DONE.

In [4]:
# Close the connection.
con.close()

**SQLite Python: Querying Data**

In [9]:
con = sqlite3.connect("data/my-weblogs.db")
cursor = con.execute("SELECT * from logs limit 5;")
rows = cursor.fetchall()
print(rows)
con.close()

[(1, '10.128.2.1', '2017-11-29 06:58:55', 200, 'GET'), (2, '10.128.2.1', '2017-11-29 06:59:02', 302, 'POST'), (3, '10.128.2.1', '2017-11-29 06:59:03', 200, 'GET'), (4, '10.131.2.1', '2017-11-29 06:59:04', 200, 'GET'), (5, '10.130.2.1', '2017-11-29 06:59:06', 200, 'GET')]

- PostgreSQL:
    - `psycopg2`: [Psycopg](https://pypi.org/project/psycopg2/) is the most popular PostgreSQL database adapter for the Python programming language.
- Microsoft SQL Server:
    - `pyodbc`: [pyodbc](https://pypi.org/project/pyodbc/) is an open source Python module that makes accessing ODBC databases simple. It implements the DB API 2.0 specification but is packed with even more Pythonic convenience.
- MySQL:
    - `PyMySQL`: [PyMySQL](https://pypi.org/project/PyMySQL/) package contains a pure-Python MySQL client library, based on PEP 249.

## SQLAlchemy

- https://www.sqlalchemy.org/
- [ORM Quick Start](https://docs.sqlalchemy.org/en/14/orm/quickstart.html)
- [SQLAlchemy 1.4 / 2.0 Tutorial](https://docs.sqlalchemy.org/en/14/tutorial/index.html)

Installation: `pip install SQLAlchemy`

Quick check to verify that we are on version 1.4 of SQLAlchemy:

### Pozor
**Sčasoma bo SQLAlchemy migriral na 2.0**

In [1]:
import sqlalchemy

sqlalchemy.__version__

'1.4.44'

SQLAlchemy ima dva načina za delo
- SQL CORE (bare text)
- SQL ORM (python classi)

### Establishing Connectivity - the Engine

In [2]:
from sqlalchemy import create_engine

# ustvarimo engine objekt, ki pove vrste baze na katero se povežemo - definira interface glede na tip podatkovne baze
engine = create_engine("sqlite+pysqlite:///data/my-weblogs.db", echo=True, future=True)

The main argument to `create_engine` is a string URL: `dialect+driver://username:password@host:port/database`

primeri: https://docs.sqlalchemy.org/en/20/core/engines.html

**Database Urls Examples**

`dialect+driver://username:password@host:port/database`

PostgreSQL:

In [ ]:
# psycopg2 driver
engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase', echo=True, future=True)

MySQL:

In [ ]:
# PyMySQL driver
engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo', echo=True, future=True)

SQLite:

In [ ]:
# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = create_engine('sqlite:///data/foo.db', echo=True, future=True)
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)

### Working with Transactions and the DBAPI

**TA DEL SI KOPIRAJ OD LEONA**

...

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite+pysqlite:///data/my-weblogs.db", echo=True, future=True)

In [ ]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

In [ ]:
with engine.begin() as conn: #.being() bo avtomatsko commitalo na koncu transakcije
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

**Fetching Rows**

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM logs LIMIT 5;"))
    for row in result: # row je named tuple
        print(f"IP: {row.ip}  Medhod: {row.method}")

In [ ]:
with engine.connect() as con:
    rs = con.execute(text('SELECT * FROM logs LIMIT 5;'))        
    data = rs.fetchone()
    print(data)

In [ ]:
with engine.connect() as conn:
    rs = conn.execute(text('SELECT * FROM logs LIMIT 5;'))       
    data1 = rs.fetchone()
    data2 = rs.fetchone()
    print(data1)
    print(data2)

In [ ]:
with engine.connect() as conn:
    rs = conn.execute(text('SELECT * FROM logs LIMIT 5;'))        
    data = rs.fetchmany(3)
    print(data)

In [ ]:
with engine.connect() as conn:
    rs = conn.execute(text('SELECT * FROM logs LIMIT 5;'))        
    data = rs.fetchall()
    print(data)

### Working with Database Metadata
delno ORM (niso še celotni klassi), saj se na koncu text pretvori v text za cursor

In [3]:
from sqlalchemy import MetaData

metadata_obj = MetaData()

In [4]:
from sqlalchemy import Table, Column, Integer, String

user_table = Table(
    "user_account",
    metadata_obj, # povezava med metadadata_obj in tabelo -> glej nato vrstico ko klicemo "create_all"
    Column("id", Integer, primary_key=True),
    Column("name", String(30), nullable=False),
    Column("fullname", String, nullable=False),
)

In [5]:
user_table.c.name

Column('name', String(length=30), table=<user_account>, nullable=False)

In [6]:
user_table.c.keys()

['id', 'name', 'fullname']

In [ ]:
engine = create_engine("sqlite+pysqlite:///data/users.db", echo=True, future=True)
metadata_obj.create_all(engine)

### Working with Data

In [8]:
from sqlalchemy import insert

stmt1 = insert(user_table).values(name="matic", fullname="matic lalalala")
stmt2 = insert(user_table).values(name="jaka", fullname="jaka tatatatat")

In [11]:
# ustvari se stavek za cursor
print(stmt1)
print(stmt2)

INSERT INTO user_account (name, fullname) VALUES (:name, :fullname)
INSERT INTO user_account (name, fullname) VALUES (:name, :fullname)

In [9]:
with engine.connect() as conn:
    conn.execute(stmt1)
    conn.execute(stmt2)
    conn.commit()

2023-01-09 17:50:46,925 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-09 17:50:46,927 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2023-01-09 17:50:46,927 INFO sqlalchemy.engine.Engine [generated in 0.00146s] ('matic', 'matic lalalala')
2023-01-09 17:50:46,927 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2023-01-09 17:50:46,928 INFO sqlalchemy.engine.Engine [cached since 0.00259s ago] ('jaka', 'jaka tatatatat')
2023-01-09 17:50:46,929 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
from sqlalchemy import select

In [13]:
stmt = select(user_table).where(user_table.c.name == 'matic')
print(stmt)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [14]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

2023-01-09 17:56:31,054 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-09 17:56:31,056 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2023-01-09 17:56:31,056 INFO sqlalchemy.engine.Engine [generated in 0.00240s] ('matic',)
(1, 'matic', 'matic lalalala')
2023-01-09 17:56:31,057 INFO sqlalchemy.engine.Engine ROLLBACK

## Working with databases and Pandas

- [SQL queries](https://pandas.pydata.org/docs/user_guide/io.html#sql-queries)

<table border="1" class="longtable docutils">
<colgroup>
<col width="10%">
<col width="90%">
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql_table.html#pandas.read_sql_table" title="pandas.read_sql_table"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_table</span></code></a>(table_name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Read SQL database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.read_sql_query.html#pandas.read_sql_query" title="pandas.read_sql_query"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_query</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query into a DataFrame.</td>
</tr>
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql.html#pandas.read_sql" title="pandas.read_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query or database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql" title="pandas.DataFrame.to_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">DataFrame.to_sql</span></code></a>(self,&nbsp;name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Write records stored in a DataFrame to a SQL database.</td>
</tr>
</tbody>
</table>

In [16]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory:") # samo na voljo pri sqllite - kreiramo bazo v RAM - namenjeno za testiranje

### Writing a DataFrame to a SQL database

In [17]:
import datetime

c = ["id", "Date", "Col_1", "Col_2", "Col_3"]

d = [
    (26, datetime.datetime(2010, 10, 18), "X", 27.5, True),
    (42, datetime.datetime(2010, 10, 19), "Y", -12.5, False),
    (63, datetime.datetime(2010, 10, 20), "Z", 5.73, True),
]


data = pd.DataFrame(d, columns=c)

data

   id       Date Col_1  Col_2  Col_3
0  26 2010-10-18     X  27.50   True
1  42 2010-10-19     Y -12.50  False
2  63 2010-10-20     Z   5.73   True

In [18]:
data.to_sql("data", engine) # ustvari tabelo z imenom data

3

In [19]:
data.to_sql("data_2", engine, chunksize=1000) # uvstavlja po chunkih (primeri velikih tabel)

3

In [20]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

['data', 'data_2']

### SQL data types

In [ ]:
from sqlalchemy.types import String

data.to_sql("data_dtype", engine, dtype={"Col_1": String}) # override default type that sqlalchemy selects for a column8

**if_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’**

How to behave if the table already exists.
- fail: Raise a ValueError. -> default value
- replace: Drop the table before inserting new values.
- append: Insert new values to the existing table.

In [21]:
# generate error
data.to_sql("data", engine, if_exists="fail")

ValueError: Table 'data' already exists.

In [ ]:
data.to_sql("data", engine, if_exists="append")

In [ ]:
data.to_sql("data", engine, if_exists="replace")

### Importing data from a SQL database table

- [read_sql_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_table.html#pandas.read_sql_table)

In [22]:
data = pd.read_sql_table("data", engine)

In [23]:
data

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2010-10-18     X  27.50   True
1      1  42 2010-10-19     Y -12.50  False
2      2  63 2010-10-20     Z   5.73   True

In [24]:
data.dtypes

index             int64
id                int64
Date     datetime64[ns]
Col_1            object
Col_2           float64
Col_3              bool
dtype: object

In [25]:
pd.read_sql_table("data", engine, index_col="id") # dodaten index se je pojavil ob pisanju -> lahko vpišemo tako da recemo index false

    index       Date Col_1  Col_2  Col_3
id
26      0 2010-10-18     X  27.50   True
42      1 2010-10-19     Y -12.50  False
63      2 2010-10-20     Z   5.73   True

In [26]:
pd.read_sql_table("data", engine, parse_dates=["Date"])

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2010-10-18     X  27.50   True
1      1  42 2010-10-19     Y -12.50  False
2      2  63 2010-10-20     Z   5.73   True

### Querying a SQL database

In [27]:
pd.read_sql_query("SELECT * FROM data", engine)

   index  id                        Date Col_1  Col_2  Col_3
0      0  26  2010-10-18 00:00:00.000000     X  27.50      1
1      1  42  2010-10-19 00:00:00.000000     Y -12.50      0
2      2  63  2010-10-20 00:00:00.000000     Z   5.73      1

In [28]:
pd.read_sql_query("SELECT id, Col_1, Col_2 FROM data WHERE id = 42;", engine)

   id Col_1  Col_2
0  42     Y  -12.5

In [29]:
df = pd.DataFrame(np.random.randn(20, 3), columns=list("abc"))
df.head()

          a         b         c
0  0.443907 -0.572152 -0.418854
1 -0.653792  1.595782  0.742812
2 -1.249283 -0.886947 -1.011730
3 -0.278206  0.895441 -1.323406
4  1.386601  0.420241 -0.527749

In [31]:
df.to_sql("data_chunks", engine, index=False)

20

In [32]:
for chunk in pd.read_sql_query("SELECT * FROM data_chunks", engine, chunksize=5):
    print(chunk)

          a         b         c
0  0.443907 -0.572152 -0.418854
1 -0.653792  1.595782  0.742812
2 -1.249283 -0.886947 -1.011730
3 -0.278206  0.895441 -1.323406
4  1.386601  0.420241 -0.527749
          a         b         c
0 -0.100660 -0.504801  0.831235
1 -1.216659  1.338284  0.916271
2 -0.644954  1.133549 -0.066870
3 -0.071295 -0.736748  2.191031
4 -1.758872 -0.473744  0.194260
          a         b         c
0 -0.539684  1.064903 -0.332729
1  0.957749  1.263268  0.346136
2 -1.209904  0.633689  0.602492
3  0.174716  0.510266 -1.782278
4 -0.572941 -1.731942 -3.034327
          a         b         c
0 -0.600391  0.326419  0.935742
1  0.449800  0.150642  0.071770
2 -1.966939 -1.539927 -1.290173
3 -0.435860  1.108405  0.461916
4  0.544898 -0.419605 -1.119027

In [ ]:
# namesto commitov s cursorji lahko uporabimo pandas.io
from pandas.io import sql

sql.execute("SELECT * FROM data_chunks", engine)
sql.execute(
    "INSERT INTO data_chunks VALUES(?, ?, ?)", engine, params=[(3, 1, 12.2)]
)

In [33]:
import sqlalchemy

pd.read_sql_query(sqlalchemy.text("SELECT * FROM data where Col_1=:col1"), engine, params={"col1": "X"})

   index  id                        Date Col_1  Col_2  Col_3
0      0  26  2010-10-18 00:00:00.000000     X   27.5      1

In [35]:
# primer kako sql sintakso uporabljo s pandas
from sqlalchemy import Table, Column
from sqlalchemy import MetaData

metadata = MetaData()

data_table = Table(
    "data",
    metadata,
    Column("index", sqlalchemy.Integer),
    Column("Date", sqlalchemy.DateTime),
    Column("Col_1", sqlalchemy.String),
    Column("Col_2", sqlalchemy.Float),
    Column("Col_3", sqlalchemy.Boolean),
)

In [36]:
pd.read_sql_query(sqlalchemy.select([data_table]).where(data_table.c.Col_1 == "X"), engine)

   index       Date Col_1  Col_2  Col_3
0      0 2010-10-18     X   27.5   True

## Primer: Uvoz podatkov iz CSV dokumenta v SQL bazo

In [37]:
weblog_df = pd.read_csv('data/weblogs_clean.csv')

In [38]:
weblog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IP      500 non-null    object
 1   Time    500 non-null    object
 2   Staus   500 non-null    int64
 3   Method  500 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [39]:
weblog_df.head()

           IP                  Time  Staus Method
0  10.128.2.1  29/Nov/2017:06:58:55    200    GET
1  10.128.2.1  29/Nov/2017:06:59:02    302   POST
2  10.128.2.1  29/Nov/2017:06:59:03    200    GET
3  10.131.2.1  29/Nov/2017:06:59:04    200    GET
4  10.130.2.1  29/Nov/2017:06:59:06    200    GET

[Pretvorbe](https://www.programiz.com/python-programming/datetime/strftime)

In [40]:
weblog_df['Time'] = pd.to_datetime(weblog_df['Time'], format='%d/%b/%Y:%H:%M:%S')

In [41]:
weblog_df.head()

           IP                Time  Staus Method
0  10.128.2.1 2017-11-29 06:58:55    200    GET
1  10.128.2.1 2017-11-29 06:59:02    302   POST
2  10.128.2.1 2017-11-29 06:59:03    200    GET
3  10.131.2.1 2017-11-29 06:59:04    200    GET
4  10.130.2.1 2017-11-29 06:59:06    200    GET

In [42]:
weblog_df.rename(columns={'IP':'ip', 'Time':'timestamp', 'Staus':'status', 'Method':'method'}, inplace=True)

In [43]:
# dodamo HTTP_Ok če je Status enak 200
weblog_df['http_ok'] = weblog_df['status'] == 200

In [44]:
weblog_df.head()

           ip           timestamp  status method  http_ok
0  10.128.2.1 2017-11-29 06:58:55     200    GET     True
1  10.128.2.1 2017-11-29 06:59:02     302   POST    False
2  10.128.2.1 2017-11-29 06:59:03     200    GET     True
3  10.131.2.1 2017-11-29 06:59:04     200    GET     True
4  10.130.2.1 2017-11-29 06:59:06     200    GET     True

Dodamo podatke v tabelo:

In [45]:
from sqlalchemy import create_engine
from sqlalchemy import DateTime, Integer, String, Boolean

In [46]:
engine = create_engine('sqlite:///data/web_logs2.db', echo=False)

In [47]:
dtype_dict = {'ip': String(15), 
              'timestamp': DateTime(), 
              'status': Integer(), 
              'method': String(10), 
              'http_ok': Boolean()
}

In [48]:
weblog_df.to_sql('weblog',con=engine,if_exists='append', index=False, chunksize=100, dtype=dtype_dict)

500

Preverimo podatke:

In [50]:
weblog = pd.read_sql_table('weblog', engine)
weblog

             ip           timestamp  status method  http_ok
0    10.128.2.1 2017-11-29 06:58:55     200    GET     True
1    10.128.2.1 2017-11-29 06:59:02     302   POST    False
2    10.128.2.1 2017-11-29 06:59:03     200    GET     True
3    10.131.2.1 2017-11-29 06:59:04     200    GET     True
4    10.130.2.1 2017-11-29 06:59:06     200    GET     True
..          ...                 ...     ...    ...      ...
495  10.128.2.1 2017-11-29 18:25:02     200    GET     True
496  10.128.2.1 2017-11-29 18:25:07     200    GET     True
497  10.128.2.1 2017-11-29 18:25:15     200    GET     True
498  10.128.2.1 2017-11-29 18:25:27     302    GET    False
499  10.129.2.1 2017-11-29 18:25:27     302    GET    False

[500 rows x 5 columns]

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns a df with all columns for ip = '10.128.2.1' using method GET. Use sqlalchemy.text() to specify query parameters in a backend-neutral way.
</div>

In [57]:
df = pd.read_sql_query(sqlalchemy.text("SELECT * FROM weblog WHERE ip=:ip_val AND method=:method_val;"),
                                        engine,
                                        params={"ip_val": "10.128.2.1", "method_val":"GET"}).head(5)
df

           ip                   timestamp  status method  http_ok
0  10.128.2.1  2017-11-29 06:58:55.000000     200    GET        1
1  10.128.2.1  2017-11-29 06:59:03.000000     200    GET        1
2  10.128.2.1  2017-11-29 06:59:19.000000     200    GET        1
3  10.128.2.1  2017-11-29 13:38:20.000000     200    GET        1
4  10.128.2.1  2017-11-29 13:38:20.000000     200    GET        1

Using SQLAlchemy expressions:

In [ ]:
# Skopiraj rešitev iz kopiraj iz Leon git repo!!!