# SQL

## Shema

Poveži se na `jobs.db` databazo.

Prikaži shemo `recent_grads` tabele.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sqlite3
CREATE TABLE IF NOT EXISTS "recent_grads" (
"index" INTEGER,
  "Rank" INTEGER,
  "Major_code" INTEGER,
  "Major" TEXT,
  "Major_category" TEXT,
  "Total" INTEGER,
  "Sample_size" INTEGER,
  "Men" INTEGER,
  "Women" INTEGER,
  "ShareWomen" REAL,
  "Employed" INTEGER,
  "Full_time" INTEGER,
  "Part_time" INTEGER,
  "Full_time_year_round" INTEGER,
  "Unemployed" INTEGER,
  "Unemployment_rate" REAL,
  "Median" INTEGER,
  "P25th" INTEGER,
  "P75th" INTEGER,
  "College_jobs" INTEGER,
  "Non_college_jobs" INTEGER,
  "Low_wage_jobs" INTEGER
);
CREATE INDEX "ix_recent_grads_index"ON "recent_grads" ("index");
```

In [ ]:
# Rešitev

## SELECT and LIMIT

Prikaži prvih 12 vrstic stolpcev `Rank` in `Major`, v tem vrstnem redu, tabele `recent_grads`.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
1|PETROLEUM ENGINEERING
2|MINING AND MINERAL ENGINEERING
3|METALLURGICAL ENGINEERING
4|NAVAL ARCHITECTURE AND MARINE ENGINEERING
5|CHEMICAL ENGINEERING
6|NUCLEAR ENGINEERING
7|ACTUARIAL SCIENCE
8|ASTRONOMY AND ASTROPHYSICS
9|MECHANICAL ENGINEERING
10|ELECTRICAL ENGINEERING
11|COMPUTER ENGINEERING
12|AEROSPACE ENGINEERING
```

In [ ]:
# Rešitev

## WHERE

Prikaži stolpca `Major`, `Unemployment_rate` in `Total`, kjer je `Unemployment_rate` večji od 10% in stolpec `Total` (celotno število diplomantov) manjši od 1000.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
MINING AND MINERAL ENGINEERING|0.117241379|756
SCHOOL STUDENT COUNSELING|0.107579462|818
```

In [ ]:
# Rešitev

## ORDER BY

Prikažite prvih 5 stolpecv `Major`, `Mediana`. Vrstni red naj bo naraščajoč glede na stolpec `Mediana`.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
LIBRARY SCIENCE|22000
COUNSELING PSYCHOLOGY|23400
EDUCATIONAL PSYCHOLOGY|25000
CLINICAL PSYCHOLOGY|25000
ZOOLOGY|26000
```

In [ ]:
# Rešitev

# Python SQLite3

In [44]:
import sqlite3

Povežite se na `job.db` databazo.

Prikažite vrstice od 10 do 15, za stolpce `Rank`, `Major`, `Total`.

In [1]:
# Rešitev

# SQLAlchemy and Pandas

In [47]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import DateTime, Integer, String, Boolean

import pandas as pd
import numpy as np

Povežite se na `logs.db` databazo.

Preberite celotno `weblog` tabelo v DataFrame in prikažite prvih 5 vrstic.
(stolpec `id` naj bo index DataFrama)

In [2]:
# Rešitev

Najdite najpogostejši `ip`.
DataFramu dodajte stolpec `Ban`. Če vrstica vsebuje najpogostejši ip naj bo v `Ban` stolpcu vrednost `True`, drugače naj bo vrenost `False`.

In [3]:
# Rešitev

DataFrame zapišite v `logs.db` databazo, v `ban_log` tabelo. Če tabela še ne obstaja jo ustvarite.

Glede databaznih stolpcev in njihovih data-tipov si pomagajte s spodnjim `dtype_dict`.

In [53]:
dtype_dict = {'ip': String(15), 
              'timestamp': DateTime(), 
              'status': Integer(), 
              'method': String(10), 
              'Ban': Boolean()
}

In [4]:
# Rešitev