# Delo s podatkovnimi bazami in SQL

## Introduction to Databases

The pandas workflow works well when:
- the **data fits in memory** (a few gigabytes but not terabytes)
- the **data is relatively static** (doesn't need to be loaded into memory every minute because the data has changed)
- only a **single person is accessing** the data (shared access to memory is difficult)
- **security isn't important** (security is critical for company scale production situations)

### What is a database?

<img src="images/dbms.png">

<img src="images/database_workflow.svg">

## SQLite

https://www.sqlite.org/index.html

SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine.

SQLite is the most popular database in the world and is lightweight enough that the SQLite DBMS is included as a module in Python.

### SQLite vs Other SQL databases (PostgreSQL, MySQL, SQL Server)

### Commands

- [Command Line Shell For SQLite](https://sqlite.org/cli.html)

- `cd data`
- `sqlite3 logs.db`

- For a **listing of the available dot commands**, you can enter `.help` any time. 
    - `sqlite>.help`

- Run `.show` command to see **default setting** for your SQLite command prompt
    - `sqlite>.show`

- To specify that we want to **return the first 5 rows from weblog**, we need to run the following SQL query:
    - `sqlite> SELECT * FROM weblog LIMIT 5;`

- You can use the following sequence of dot commands to **format your output**.
    - `sqlite>.header on`
    - `sqlite>.mode column`
    - `sqlite>.timer on`
    - `sqlite> SELECT * FROM weblog LIMIT 5;`

- To see a **list of the tables in the database**, you can enter `.tables`.
    - `sqlite>.tables`

- The `.schema` command shows the **complete schema for the database**, or for a single table if an optional tablename argument is provided:
    - `sqlite>.schema`
    - `sqlite>.schema weblog`

## Introduction to SQL

<img src="images/sql_table.svg">

- `SELECT * FROM weblog LIMIT 5;`

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns the first 15 rows from weblog.
</div>

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns the logs where the ip is 10.131.2.1. Only return the ip and timestamp columns (in that order) and don't limit the number of rows returned.
</div>

<div class="alert alert-block alert-info">
<b>Vaja: </b> Count the number of rows returned from the previous query. <a href="https://www.w3schools.com/sql/sql_count_avg_sum.asp">Help</a>
</div>

Here are the comparison operators we can use:
- Less than: `<`
- Less than or equal to: `<=`
- Greater than: `>`
- Greater than or equal to: `>=`
- Equal to: `=`
- Not equal to: `!=`

```SQL
SELECT * FROM weblog
WHERE ip = "10.131.2.1" AND timestamp < "2017-11-29 13:47:00";
```

```SQL
SELECT * FROM weblog
WHERE ip = "10.131.2.1" OR status = 304;
```

```SQL
SELECT * FROM weblog
WHERE (ip = "10.131.2.1" AND status = 304) OR (method = "POST");
```

```SQL
SELECT * FROM weblog
WHERE (ip = "10.131.2.1" AND status = 304) OR (method = "POST")
ORDER BY timestamp DESC;
```

## Work with the SQLite database using raw Python

- [sqlite3 Python module](https://docs.python.org/3/library/sqlite3.html): The sqlite3 module provides an SQL interface compliant with the DB-API 2.0 specification described by PEP 249, and requires SQLite 3.7.15 or newer.

Import a CSV file data to a SQL database:

In [ ]:
!head data/weblogs_clean.csv

In [ ]:
import sqlite3
from sqlite3 import OperationalError
from datetime import datetime
import csv

# create a connection to a databse
# TODO



# create a new table
create_table_query = """
    CREATE TABLE logs (
            id INTEGER PRIMARY KEY,
            ip VARCHAR(16),
            timestamp DATETIME,
            status INTEGER,
            method VARCHAR(20)
    );"""

try:
    # TODO
except OperationalError as err:
    print(f"Skippig: {err}")

In [ ]:
# Then, insert rows of data:
with open('data/weblogs_clean.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    stmt = "INSERT INTO logs VALUES(NULL, ?, ?, ?, ?)"
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            timestamp_datetime_format = datetime.strptime(row[1], "%d/%b/%Y:%H:%M:%S")
            row[1] = timestamp_datetime_format
            con.execute(stmt, row)
            con.commit()
    print("DONE.")

In [ ]:
# Close the connection.
con.close()

**SQLite Python: Querying Data**

- PostgreSQL:
    - `psycopg2`: [Psycopg](https://pypi.org/project/psycopg2/) is the most popular PostgreSQL database adapter for the Python programming language.
- Microsoft SQL Server:
    - `pyodbc`: [pyodbc](https://pypi.org/project/pyodbc/) is an open source Python module that makes accessing ODBC databases simple. It implements the DB API 2.0 specification but is packed with even more Pythonic convenience.
- MySQL:
    - `PyMySQL`: [PyMySQL](https://pypi.org/project/PyMySQL/) package contains a pure-Python MySQL client library, based on PEP 249.

## SQLAlchemy

- https://www.sqlalchemy.org/
- [ORM Quick Start](https://docs.sqlalchemy.org/en/14/orm/quickstart.html)
- [SQLAlchemy 1.4 / 2.0 Tutorial](https://docs.sqlalchemy.org/en/14/tutorial/index.html)

Installation: `pip install SQLAlchemy`

Quick check to verify that we are on version 1.4 of SQLAlchemy:

In [ ]:
import sqlalchemy

sqlalchemy.__version__

### Establishing Connectivity - the Engine

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite+pysqlite:///data/my-weblogs.db", echo=True, future=True)

The main argument to `create_engine` is a string URL: `dialect+driver://username:password@host:port/database`

**Database Urls Examples**

`dialect+driver://username:password@host:port/database`

PostgreSQL:

In [ ]:
# psycopg2 driver
engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase', echo=True, future=True)

MySQL:

In [ ]:
# PyMySQL driver
engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo', echo=True, future=True)

SQLite:

In [ ]:
# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = create_engine('sqlite:///data/foo.db', echo=True, future=True)
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)

### Working with Transactions and the DBAPI

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite+pysqlite:///data/my-weblogs.db", echo=True, future=True)

In [ ]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

In [ ]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

**Fetching Rows**

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM logs LIMIT 5;"))
    for row in result:
        print(f"IP: {row.ip}  Medhod: {row.method}")

In [ ]:
with engine.connect() as con:
    rs = con.execute(text('SELECT * FROM logs LIMIT 5;'))        
    data = rs.fetchone()
    print(data)

In [ ]:
with engine.connect() as conn:
    rs = conn.execute(text('SELECT * FROM logs LIMIT 5;'))       
    data1 = rs.fetchone()
    data2 = rs.fetchone()
    print(data1)
    print(data2)

In [ ]:
with engine.connect() as conn:
    rs = conn.execute(text('SELECT * FROM logs LIMIT 5;'))        
    data = rs.fetchmany(3)
    print(data)

In [ ]:
with engine.connect() as conn:
    rs = conn.execute(text('SELECT * FROM logs LIMIT 5;'))        
    data = rs.fetchall()
    print(data)

### Working with Database Metadata

In [ ]:
from sqlalchemy import MetaData

metadata_obj = MetaData()

In [ ]:
from sqlalchemy import Table, Column, Integer, String

user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30), nullable=False),
    Column("fullname", String, nullable=False),
)

In [ ]:
user_table.c.name

In [ ]:
user_table.c.keys()

In [ ]:
engine = create_engine("sqlite+pysqlite:///data/users.db", echo=True, future=True)
metadata_obj.create_all(engine)

### Working with Data

In [ ]:
from sqlalchemy import insert

stmt1 = insert(user_table).values(name="matic", fullname="matic lalalala")
stmt2 = insert(user_table).values(name="jaka", fullname="jaka tatatatat")

In [ ]:
with engine.connect() as conn:
    conn.execute(stmt1)
    conn.execute(stmt2)
    conn.commit()

In [ ]:
from sqlalchemy import select

## Working with databases and Pandas

- [SQL queries](https://pandas.pydata.org/docs/user_guide/io.html#sql-queries)

<table border="1" class="longtable docutils">
<colgroup>
<col width="10%">
<col width="90%">
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql_table.html#pandas.read_sql_table" title="pandas.read_sql_table"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_table</span></code></a>(table_name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Read SQL database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.read_sql_query.html#pandas.read_sql_query" title="pandas.read_sql_query"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_query</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query into a DataFrame.</td>
</tr>
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql.html#pandas.read_sql" title="pandas.read_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query or database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql" title="pandas.DataFrame.to_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">DataFrame.to_sql</span></code></a>(self,&nbsp;name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Write records stored in a DataFrame to a SQL database.</td>
</tr>
</tbody>
</table>

In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory:")

### Writing a DataFrame to a SQL database

In [ ]:
import datetime

c = ["id", "Date", "Col_1", "Col_2", "Col_3"]

d = [
    (26, datetime.datetime(2010, 10, 18), "X", 27.5, True),
    (42, datetime.datetime(2010, 10, 19), "Y", -12.5, False),
    (63, datetime.datetime(2010, 10, 20), "Z", 5.73, True),
]


data = pd.DataFrame(d, columns=c)

data

In [ ]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

### SQL data types

In [ ]:
from sqlalchemy.types import String

data.to_sql("data_dtype", engine, dtype={"Col_1": String})

**if_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’**

How to behave if the table already exists.
- fail: Raise a ValueError.
- replace: Drop the table before inserting new values.
- append: Insert new values to the existing table.

In [ ]:
# generate error
data.to_sql("data", engine, if_exists="fail")

In [ ]:
data.to_sql("data", engine, if_exists="append")

In [ ]:
data.to_sql("data", engine, if_exists="replace")

### Importing data from a SQL database table

- [read_sql_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_table.html#pandas.read_sql_table)

In [ ]:
data = pd.read_sql_table("data", engine)

In [ ]:
data

In [ ]:
data.dtypes

In [ ]:
pd.read_sql_table("data", engine, index_col="id")

In [ ]:
pd.read_sql_table("data", engine, parse_dates=["Date"])

### Querying a SQL database

In [ ]:
pd.read_sql_query("SELECT * FROM data", engine)

In [ ]:
pd.read_sql_query("SELECT id, Col_1, Col_2 FROM data WHERE id = 42;", engine)

In [ ]:
df = pd.DataFrame(np.random.randn(20, 3), columns=list("abc"))
df.head()

In [ ]:
df.to_sql("data_chunks", engine, index=False)

In [ ]:
for chunk in pd.read_sql_query("SELECT * FROM data_chunks", engine, chunksize=5):
    print(chunk)

In [ ]:
from pandas.io import sql

sql.execute("SELECT * FROM data_chunks", engine)
sql.execute(
    "INSERT INTO data_chunks VALUES(?, ?, ?)", engine, params=[(3, 1, 12.2)]
)

In [ ]:
import sqlalchemy

pd.read_sql_query(sqlalchemy.text("SELECT * FROM data where Col_1=:col1"), engine, params={"col1": "X"})

In [ ]:
from sqlalchemy import Table, Column
from sqlalchemy import MetaData

metadata = MetaData()

data_table = Table(
    "data",
    metadata,
    Column("index", sqlalchemy.Integer),
    Column("Date", sqlalchemy.DateTime),
    Column("Col_1", sqlalchemy.String),
    Column("Col_2", sqlalchemy.Float),
    Column("Col_3", sqlalchemy.Boolean),
)

In [ ]:
pd.read_sql_query(sqlalchemy.select([data_table]).where(data_table.c.Col_1 == "X"), engine)

## Primer: Uvoz podatkov iz CSV dokumenta v SQL bazo

In [ ]:
weblog_df = pd.read_csv('data/weblogs_clean.csv')

In [ ]:
weblog_df.info()

In [ ]:
weblog_df.head()

[Pretvorbe](https://www.programiz.com/python-programming/datetime/strftime)

In [ ]:
weblog_df['Time'] = pd.to_datetime(weblog_df['Time'], format='%d/%b/%Y:%H:%M:%S')

In [ ]:
weblog_df.head()

In [ ]:
weblog_df.rename(columns={'IP':'ip', 'Time':'timestamp', 'Staus':'status', 'Method':'method'}, inplace=True)

In [ ]:
# dodamo HTTP_Ok če je Status enak 200
weblog_df['http_ok'] = weblog_df['status'] == 200

In [ ]:
weblog_df.head()

Dodamo podatke v tabelo:

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import DateTime, Integer, String, Boolean

In [ ]:
dtype_dict = {'ip': String(15), 
              'timestamp': DateTime(), 
              'status': Integer(), 
              'method': String(10), 
              'http_ok': Boolean()
}

Preverimo podatke:

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns a df with all columns for ip = '10.128.2.1' using method GET. Use sqlalchemy.text() to specify query parameters in a backend-neutral way.
</div>

Using SQLAlchemy expressions: